@using PagedList.Mvc
@model PagedList.IPagedList<HappyBdayMyFriend.Model.Card>
<!-- Primary Page Layout
================================================== -->
<!-- globalWrapper -->
<div id="globalWrapper" class="localscroll">
    <!-- content -->

    <section class="slice" id="cards">

        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    <h1>А вот и твои открытки</h1>
                    <h2 class="subTitle">Прими самые искренние пожелания</h2>
                </div>
                <div class="clearfix">

                    @foreach (var card in Model)
                    {
                        <div class="col-sm-4 isotopeItem">
                            <div class="cardContainer">
                                <div class="card shadow">
                                    <div class="front face">
                                        <img src="~/Static/images/cards/card-@(card.Cover.ToString("D3")).jpg" />
                                    </div>
                                    <div class="back face">
                                        <p>@card.Message</p>
                                        <p>@card.Signature</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <nav id="filter" class="col-md-12 text-center">
                    @Html.PagedListPager(Model,
                        page => Url.Action(ViewContext.RouteData.GetRequiredString("action"), new { page }),
                        new PagedListRenderOptions
                                         {
                                             DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                             DisplayLinkToPreviousPage = PagedListDisplayMode.Never
                                         })
                </nav>
            </div>
        </div>
    </section>



    <!-- content -->
</div>
<!-- global wrapper -->
<!-- End Document
================================================== -->
